<template>
    <div>
        <Search v-on:search-text="searchText" />
 <Joke v-for="joke in jokes" :key="joke.id" :id="joke.id" :joke="joke.joke"/>   
  </div>
</template>
<script>
import axios from "axios";
import Joke from '../../components/Rest';
import Search from '../../components/Search';
export default {
    components:{
        Joke,
        Search
    },
    data(){
        return{
            jokes:[]
        }
    },
    async created(){
        const config={
            headers:{
            'Accept':'application/json'
            }
        }
        try {
                    const res=await axios.get('https://icanhazdadjoke.com/search',config);
         //  console.log(res.data); 
        this.jokes=res.data.results;

        } catch (error) {
           console.log(error); 
        }
    },
    methods:{
      async  searchText(text){
const config = {
        headers: {
          Accept: "application/json"
        }
      };

      try {
        const res = await axios.get(
          `https://icanhazdadjoke.com/search?term=${text}`,
          config
        );

        this.jokes = res.data.results;
      } catch (err) {
        console.log(err);
      }
    }
    },
    head(){
        return{
            title:"Api page",
            meta:[
                {
                 hid:"description",
                 name:"description",
                 contant:"api with dad jokes"

                }
               
                
            ]
        };
    }    
};
</script>
<style >

</style>