<template>
  <nuxt-link :to="'api/' + id">
        <div class="joke">
      <p>{{ joke }}</p>
    </div>
  </nuxt-link>

</template>
<script>
export default {
    name:'joke',
    props:['joke','id']
}
</script>
<style >
.joke{
    padding: 1 rem;
    border: 1px dashed forestgreen;
    margin: 1rem 0;

}
</style>