<template>
   <form @submit.prevent="onSubmit">
    <input type="text" v-model="text" placeholder="search for joke...">
    <input type="submit" value="Search">   
    </form> 
</template>
<script>
export default {
 name:'Search',
 data(){
     return{
         text:''
     }
 } ,
 methods:{
     onSubmit(){
         this.$emit('search-text',this.text);
         this.text='';
     }
 }  
    
}
</script>
<style >

</style>