<template>
        <div>
            <h1>Hello Developr</h1>
          <p>This is test for dsipaly nuxtjs</p>
        </div>
</template>
<script>
export default {
    head(){
        return{
            title:"about this app",
            meta:[
                {
                 hid:"description",
                 name:"description",
                 contant:"this is master of developer"

                }
               
                
            ]
        };
    }    
};
</script>
<style lang="stylus">

</style>